body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.message {
  color: black;
  background: green;
  font-size: 20px;
  border-style: solid;
  border-width: 2px;
  padding: 10px;
  margin-bottom: 10px;
}